{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "syntax-dynamic-import",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}